<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">MovieFliX</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/home">HOME</a></li>
                <li><a routerLink="/signup" id="signup">SIGN UP</a></li>
                <li><a routerLink="/login">LOGIN</a></li>
                <li><a routerLink="/contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="login_dialog">
    <h2>Contact Us</h2>
    <hr> MovieFlix Private Limited
    <br> 6263 Summit, Ground Floor, 7th Main,
    <br> 80 Feet Road, 3rd Block,
    <br> Koramangala Industrial Layout,
    <br> San Diego - 560034
    <br> California, USA
    <br>
    <br> For any issues, Please email us at: <a routerLink="../add_title">online_support@movieflix.com</a>
    <br> Customer Care: +1 619-899-9999
    <br>
    <br>
    <br>
</div>