<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">MovieFliX</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/home">HOME</a></li>
                <li><a routerLink="/signup" id="signup">SIGN UP</a></li>
                <li><a routerLink="/login">LOGIN</a></li>
                <li><a routerLink="/contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="signup_dialog">
    <div class="form-group">
        <h5>Already a registered user?<a routerLink="/login">Sign in here</a></h5>
        <h1 id="heading">Signup here</h1>
        <form (ngSubmit)="onSignup(first_name.value,last_name.value,email.value,password.value,confirm.value)" novalidate #userForm="ngForm">
            <div class="form-group">
                <label for="first_name"><font color="red">*</font> First Name</label>
                <input type="text" #first_name name="first_name" id="first_name" #inputFirstName="ngModel" [(ngModel)]="user.first_name" required minlength="3" class="form-control">
                <div *ngIf="inputFirstName.errors && inputFirstName.dirty" class="errors">
                    <p [hidden]="!inputFirstName.errors.required">Please enter your First Name</p>
                    <p [hidden]="!inputFirstName.errors.minlength">First Name must have at least 3 characters</p>
                </div>
            </div>

            <div class="form-group">
                <label for="last_name"><font color="red">*</font> Last Name</label>
                <input type="text" #last_name name="last_name" id="last_name" #inputLastName="ngModel" [(ngModel)]="user.last_name" required minlength="3" class="form-control">
                <div *ngIf="inputLastName.errors && inputLastName.dirty" class="errors">
                    <p [hidden]="!inputLastName.errors.required">Please enter your Last Name</p>
                    <p [hidden]="!inputLastName.errors.minlength">Last Name must have at least 3 characters</p>
                </div>
            </div>

            <div class="form-group">
                <label for="email"><font color="red">*</font> Username</label>
                <input type="email" #email name="email" id="email" #inputEmail="ngModel" [(ngModel)]="user.email" required minlength="5" class="form-control">
                <div *ngIf="inputEmail.errors && inputEmail.dirty" class="errors">
                    <p [hidden]="!inputEmail.errors.required">Please enter your Username</p>
                    <p [hidden]="!inputEmail.errors.minlength">Username must have at least 5 characters</p>
                </div>
            </div>

            <div class="form-group">
                <label for="password"><font color="red">*</font> Choose Password</label>
                <input type="password" #password name="password" id="password" #inputPassword="ngModel" [(ngModel)]="user.password" required minlength="6" class="form-control">
                <div *ngIf="inputPassword.errors && inputPassword.dirty" class="errors">
                    <p [hidden]="!inputPassword.errors.required">Please enter your Password</p>
                    <p [hidden]="!inputPassword.errors.minlength">Password must have at least 6 characters</p>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm"><font color="red">*</font> Retype Password</label>
                <input type="password" #confirm name="confirm" id="confirm" #inputPasswordConfirm="ngModel" [(ngModel)]="user.name" required minlength="3" class="form-control">
                <div *ngIf="inputPasswordConfirm.errors && inputPasswordConfirm.dirty" class="errors">
                    <p [hidden]="!inputPasswordConfirm.errors.required">Please re-enter your Password</p>
                </div>
            </div>

            <div class="button-panel">
                <button id="signup_btn" type="submit" [disabled]="userForm.form.invalid" class="btn btn-danger">SIGNUP</button>
            </div>
        </form>
    </div>
</div>