<!DOCTYPE html>
<html lang="en">

<head>
    <title>MovieFlix - Edit title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MovieFliX</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="admin_home.html">Home</a></li>
            <li><a href="create.html">Add Title</a></li>
            <li class="active"><a href="modify.html">Edit Title</a></li>
            <li><a href="remove.html">Remove Title</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
            <li><a href="home.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div id="modify_dialog">
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        <tr>
            <td>Avengers: Age of Ultron</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>The Avengers</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>The Shawshank Redemption</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>Batman Begins</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>The Dark Knight</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>The Dark Knight Rises</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>The Revenant</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>Star Wars: The Force Awakens</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>The Martian</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>The Walk</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>Pulp Fiction</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>Schindler's List</td>
            <td><span class="glyphicon glyphicon-edit"></span></td>
            <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

</body>

</html>